# Local Netlify folder
.netlify
.openai-key
data/interim
html
semanticscholarcache.*
*.pyc
*.sqlite
reference
.DS_Store
*checkpoint.ipynb
cachedir
geckodriver.log
.ipynb_checkpoints
data/input
data/trash
data/transformed
data/output